

  <%= image_tag "home_image1.jpg" %>


  <div>
    <h1><span>Get</span>Pimped<span>Up</span></h1>
    <a href="#" class="opr-next"></a>
    <div class="homepage_buttons">
    <%= link_to "add a salon", new_saloon_path, class: "button" %>
    </div>
  </div>


