

<div class="opr-container">
    <div class="opr-page opr-current first" data-target="1">
      <h1><span>O</span>ne<span>P</span>age<span>R</span></h1>
        <div class="opr-next"></div>
    </div>
    <div class="opr-page second" data-target="2">
        <div class="opr-next"></div>
    </div>
    <div class="opr-page third" data-target="3">
        <div class="opr-next"></div>
    </div>
    <div class="opr-page fourth" data-target="4">
        <p>&nbsp;</p>
    </div>
</div>