 

<div class="opr-container">

<%= image_tag "home_image1.jpg" %>

    <div class="opr-page opr-current first" data-target="1">
      <h1><span>Get  </span>Pi<span>mp</span>ed<span>Up</span></h1>
      <a href="#" class="opr-next"></a>
  </div>
</div>


