

  <%= image_tag "home_image1.jpg" %>


  <div>
   
    <a href="#" class="opr-next"></a>
    <div class="homepage_buttons">
    <%= link_to "add a salon", saloons_path, class: "button" %>
    </div>
  </div>

