.homepage_buttons {
 text-align: center;
 margin: auto;
 width: 700px;
 padding: 0px;
 position: relative;
 left: 310px;
 top: 187px;
 z-index: 40;
}

.saloon_search {
      margin: auto;
      width: 40%;
      padding: 30px;
      background-color: #1E415E;
      border-radius: 0;
  }






