.homepage_buttons {
  text-align: center;
  margin: auto;
  width: 700px;
  padding: 0px;
  position: relative;
  left: 70px;
  top: -400px;
  linear-gradient: 30%;
  
}

.saloon_search {
      margin: auto;
      width: 40%;
      padding: 30px;
      background-color: #1E415E;
      border-radius: 0;
  }






