@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);

body {
  background-color: #ddd;
  font-family: 'Roboto Slab', serif;
  color: #333;
}


a:after {
  content: '';
  position: relative;
  display: block;
  width: 9px;
  border-bottom: 3px solid white;
  transition: 0.5s ease-in-out;
}

a:hover:after {
  width: 100%;
}


form {
  position: center;
  margin: 0;
  width: 50%;
  border:3px solid #1E415E;
  padding: 70px;
  background-color: #1E415E;
  border-radius: 5px;
}


input {
  margin: auto;
  width: 300px;
}


.social_buttons {
  display: inline-block;


}
