.top-bar {
  background-color: #1E415E;
  height: 47px;
}

h1 {
  text-align:center;
  font-size:60px;
  font-family: 'Bree Serif', 'serif';
  margin: 40px;
  }

 p {
  color: white;
}


.saloon_search{
width: 40%;
}

input{
  border-radius: 3px;
}

 h1 a {
 font-size: 25px;
}

.opr-container a:after {
  content: '';
  position: relative;
  display: block;
  width: 8px;
  border-bottom: 2px solid #333;
  transition: 0.3s ease-in-out;
}

.button-radius {
  color: red;
}




