.top-bar {
  background-color: #1E415E;
  height: 45px;
}

h1 {
  text-align:center;
  font-size:60px;
  font-family: 'Bree Serif', 'serif';
  margin: 40px;
  }

h2, h3, h4, h5 {
  color: white;
}

ul{
margin-left: 40px;
}

.saloon_search{
width: 40%;
}

input{
  border-radius: 3px;
}

 h1 a {
 font-size: 25px;
}