.top-bar {
  background-color: #1E415E;
  height: 47px;
}

h1 {
  text-align:center;
  font-size:60px;
  font-family: 'Bree Serif', 'serif';
  margin: 40px;
  }

 p, a, label {
  color: white;
}


 h1 a {
 font-size: 25px;
}








